html {
  font-size: 16px;
}

body {
  background: #FFE2D3;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header a {
  color: #ff0d0d;
  text-decoration: none;
  margin-right: 1.5rem;
}

.header a:hover {
  transform: scale(1.4);
}

.header a.active {
  font-weight: bolder;
}

main {
  width: 100%;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2rem solid #30c75a;
  overflow-x: hidden; 
}

main#home {
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  main {
    width: 90%;
    max-width: none;
    height: auto; 
    font-size: 1.2em;
    border-width: 1rem;
  }
}

@media (min-width: 768px) {
  main {
    width: 100%;
    max-width: 1150px;
    font-size: 1em;
  }
}

.stephpic {
  width: 20rem;
  height: 20rem;
  border-radius: 5%;
  overflow: hidden;
  }

@media (max-width: 768px) {
  .stephpic {
    width: 80%;
    height: auto;
    max-width: 100%; 
    margin-left: 1rem;
  }
}

.textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text {
  font-size: 2rem;
  font-weight: bold;
  color: #ff0d0d;
  min-height: 2em;
}

@media screen and (max-width: 767px) {
  #text {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 10px;
  }
}

h3 {
  display: inline-block;
  border: 2px solid #30c75a;
  padding: 10px 30px;
  color: #30c75a;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 0.8rem;
  }
}

.stack {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .stack {
    flex-direction: column;
    align-items: flex-start;
  }
}

.stack img {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .stack img {
    width: 30px;
    height: 30px;
    margin: 5px;
    padding-left: 30px;
  }
}

h2 {
  font-size: 2rem;
  color: black; 
  margin-top: 0.5rem; 
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  color: black; 
  margin-top: 0.5rem; 
  margin-bottom: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: black;
}

main#about {
  border: none;
  padding: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

main#work {
  border: none;
}

#workcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 10px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25),
  0 4px 4px rgba(0, 0, 0, 0.25),
  0 8px 8px rgba(0, 0, 0, 0.25),
  0 16px 16px rgba(0, 0, 0, 0.25);
}

.project img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 20px;
}

.project:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.project:nth-child(5) img {
  object-fit: cover;
  object-position: left;
  margin-bottom: 20px;
}

.button-container {
  display: inline-block;
  margin: 0.5rem;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #DCAE96;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25),
  0 4px 4px rgba(0, 0, 0, 0.25),
  0 8px 8px rgba(0, 0, 0, 0.25),
  0 16px 16px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #3e8e41;
}

#contactme {
  color: black;
}

main#contact {
  border: none;
  padding: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #30c75a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.side {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 20px 0;
}

.side a {
  display: block;
  padding: 10px;
  color: #30c75a;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.side a:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 767px) {
  .side a {
    transform: scale(0.7);
    padding-top: 2rem;
    margin-top: 2rem;
  }
}

.side::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 31rem;
  background-color: #30c75a;
}

@media screen and (max-width: 767px) {
  .side::after {
    width: 2px;
    height: 12rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}