html {
  font-size: 16px;
}

body {
  background: linear-gradient(90deg, white 25%,#1499b7 25%);
  font-family: Arial, Helvetica, sans-serif;

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem;
}

.header a {
  background-color: #1499b7;
  color: #fff;
  text-decoration: none;
  margin-right: 1.5rem;
}

.header a.active {
  font-weight: bolder;
}

/* Default styles for the main element */
main {
  width: 100%;
  max-width: 1150px;
  margin: 2rem auto 0; /* Add 4rem of margin to the top */
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  main {
    width: 90%;
    max-width: none;
    margin: 0rem auto 0; /* Reduce margin to 2rem on smaller screens */
    font-size: 1.2em;
    padding: 1em;
  }
}

/* Styles for larger screens */
@media (min-width: 768px) {
  main {
    width: 100%;
    max-width: 1150px;
    margin: 0rem auto 0; /* Use the default margin on larger screens */
    font-size: 1em;
    padding: 2em;
  }
}

.stephpic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0.5rem;
  margin-top: 4rem;
  float: left;
  overflow: hidden;
  }

@media (max-width: 768px) {
  .stephpic {
    width: 25%;
    height: 25%;
    max-width: 100%; 
    margin-top: 0;
    background-color: #1499b7;
  }
}

.textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name {
  font-size: 4rem;
  margin-bottom: 10px;
  color: white;
  margin-top: 100px;
}

#text {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  min-height: 2em;
}

h3 {
  display: inline-block;
  border: 2px solid white;
  padding: 10px 30px;
  color: white;
}

.stack {
  display: flex;
  align-items: center;
}

.stack img {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding-left: 30px;
}

h2 {
  font-size: 2rem;
  color: white; 
  margin-top: 0.5rem; 
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  color: white; 
  margin-top: 0.5rem; 
  margin-bottom: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: white;
}

#about {
  width: 65%;
  padding-top: 60px;
  position: absolute;
  right: 50px;
}

#mywork {
  color: white;
}

#work {
  width: 65%;
  padding-top: 30px;
  position: absolute;
  right: 50px;
}

#workcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 10px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25),
  0 4px 4px rgba(0, 0, 0, 0.25),
  0 8px 8px rgba(0, 0, 0, 0.25),
  0 16px 16px rgba(0, 0, 0, 0.25);
}

.project img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 20px;
}

.project:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.project:nth-child(5) img {
  object-fit: cover;
  object-position: left;
  margin-bottom: 20px;
}

.button-container {
  display: inline-block;
  margin: 0.5rem;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #DCAE96;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25),
  0 4px 4px rgba(0, 0, 0, 0.25),
  0 8px 8px rgba(0, 0, 0, 0.25),
  0 16px 16px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #3e8e41;
}

#contactme {
  color: white;
}

#contact {
  width: 65%;
  padding-top: 60px;
  position: absolute;
  right: 50px;
}

/* button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
} */
  
button:hover {
  background-color: #005fa3;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.side {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 20px 0;
}

.side a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

@media screen and (max-width: 767px) {
  .side a {
    transform: scale(0.7);
    margin-top: 20px;
  }
}

.side a:hover {
  background-color: #eee;
}

.side::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 31rem;
  background-color: #1499b7;
}

@media screen and (max-width: 767px) {
  .side::after {
    width: 2px;
    height: 17rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

/* .backButton {
  position: absolute;
  left: 20px;
}

.forwardButton {
  position: absolute;
  right: 20px;
} */